@charset "UTF-8";

@mixin boxMaker($w, $h, $img, $imgsizew, $imgsizeh) {
	width: $w;
	height: $h;
	background-image:url( $img );
	-webkit-background-size:$imgsizew $imgsizeh;
}

body {
	text-align:center;
	font: 87.5%/1.6 나눔고딕, Verdana, sans-serif;
	color: #333;
}

h1{
	font-size: 6em;	
	font-weight: 600;
	color: #332;
}

p{
	font-size: 1.8em;
}

ul {
	font-size: 1.5em;
    list-style: none;
}

.box {
	background-color: #ff9900;
	margin: 0 auto;
}


#box01 {
	@include boxMaker(350px, 600px, '../imgs/ani0001-horz.jpg', 39900px, 600px);
}

#box02 {
	@include boxMaker(220px, 140px, '../imgs/seqImg_002.jpg', 223px, 13720px);
}

#box03 {
	@include boxMaker(480px, 290px, '../imgs/MOVIESEQ.jpg', 480px, 31030px);
}

#box04 {
	@include boxMaker(300px, 300px, '../imgs/scullani.jpg', 300px, 30000px);
}